@import '~nav-frontend-core/less/core';

.Klassifisering {
  margin: 50px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.Dokument {
  margin: 50px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  position: fixed;
  flex-basis: 100%;
  flex: 1;
}

.Skjemafelt {
  padding-top: 20px;
  padding-bottom: 20px;
}

.Advarsel {
  margin-top: 20px;
  margin-bottom: 20px;
}

.Row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.Column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
