@import '~nav-frontend-core/less/core';

.Klassifisering {
  margin: 50px;
  max-width: 600px;
}

.Skjemafelt {
  padding-top: 20px;
  padding-bottom: 20px;
}

.Advarsel {
  margin-top: 20px;
  margin-bottom: 20px;
}