# Stops lombok from looking for config files higher than this level
config.stopBubbling = true
# Adds @lombok.Generated to all lombok generated methods. Gives a hint to jacoco to not do coverage for the generated methods.
lombok.addLombokGeneratedAnnotation = true
lombok.anyConstructor.addConstructorProperties=true