server:
  port: 9069
  tomcat:
    use-relative-redirects: true

#spring:
#  cache:
#    type: simple
#  aop:
#    auto: true
#    proxy-target-class: false

management:
  endpoint:
    prometheus:
      access: unrestricted
  endpoints:
    enabled-by-default: false
    web:
      base-path: /internal
      exposure:
        include: prometheus
      path-mapping:
        prometheus: metrics
  metrics:
    export:
      prometheus:
        enabled: true

buffersize: 1

logging:
  level:
    org.hibernate.orm.connections.pooling: WARN