buffersize: 300

spring:
  config:
    activate:
      on-profile: nais
  datasource:
    url: jdbc:postgresql://${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_DATABASE}?user=${DATABASE_USERNAME}&password=${DATABASE_PASSWORD}
    hikari:
      minimum-idle: 1
      maximum-pool-size: 10
      connection-timeout: 10000
      idle-timeout: 10001
      max-lifetime: 60001
      leak-detection-threshold: 60000
  flyway:
    enabled: true
    outOfOrder: false
    table: schema_version
    validateOnMigrate: false
  jpa:
    open-in-view: false
    properties:
      hibernate:
        event:
          merge:
            entity_copy_observer: allow
        generate_statistics: false
  main:
    banner-mode: 'off'
  transaction:
    default-timeout: 300s

  security:
    oauth2:
      resourceserver:
        jwt:
          # Spring Boot does not support auto-configuration with multiple issuers directly. Configured manually, see bean securityFilterChain.
      client:
        registration:
          pdl:
            client-id: ${AZURE_APP_CLIENT_ID}
            client-secret: ${AZURE_APP_CLIENT_SECRET}
            provider: azuread
            authorization-grant-type: client_credentials
            scope: ${PDL_SCOPE}
          arkiv:
            client-id: ${AZURE_APP_CLIENT_ID}
            client-secret: ${AZURE_APP_CLIENT_SECRET}
            provider: azuread
            authorization-grant-type: client_credentials
            scope:  ${DOKARKIV_SCOPE}
          oppgave:
            client-id: ${AZURE_APP_CLIENT_ID}
            client-secret: ${AZURE_APP_CLIENT_SECRET}
            provider: azuread
            authorization-grant-type: client_credentials
            scope: ${OPPGAVE_SCOPE}
          oppgave-obo:
            client-id: ${AZURE_APP_CLIENT_ID}
            client-secret: ${AZURE_APP_CLIENT_SECRET}
            provider: azuread
            authorization-grant-type: urn:ietf:params:oauth:grant-type:jwt-bearer
            client-authentication-method: client_secret_post
            scope: ${OPPGAVE_SCOPE}
          saf-obo:
            client-id: ${AZURE_APP_CLIENT_ID}
            client-secret: ${AZURE_APP_CLIENT_SECRET}
            provider: azuread
            authorization-grant-type: urn:ietf:params:oauth:grant-type:jwt-bearer
            client-authentication-method: client_secret_post
            scope: ${SAF_SCOPE}

        provider:
          azuread:
            token-uri: ${AZURE_OPENID_CONFIG_TOKEN_ENDPOINT}
            issuer-uri: ${AZURE_OPENID_CONFIG_ISSUER}
          tokenx:
            token-uri: ${TOKEN_X_TOKEN_ENDPOINT}
            issuer-uri: ${TOKEN_X_ISSUER}

auth:
  issuers:
    azuread:
      token-uri: ${AZURE_OPENID_CONFIG_TOKEN_ENDPOINT}
      issuer-uri: ${AZURE_OPENID_CONFIG_ISSUER}
      jwk-set-uri: ${AZURE_OPENID_CONFIG_JWKS_URI}
      audiences: ${AZURE_APP_CLIENT_ID}
    tokenx:
      issuer-uri: ${TOKEN_X_ISSUER}
      jwk-set-uri: ${TOKEN_X_JWKS_URI}


hentdokument:
  url: ${SAF_HENTDOKUMENT_URL}

saf:
  graphql:
    url: ${SAF_URL}

graphql:
  endpoint:
    url: ${PDL_URL}

gcp_team_project_id: ${GCP_TEAM_PROJECT_ID}
big_query_dataset: ${BIG_QUERY_DATASET}

log_url: ${LOG_URL}

retry-config:
    sendMail:
      max-attempts: 5
      delay: 1000
      multiplier: 1.5
    safGraphQl:
      max-attempts: 3
      delay: 500
      multiplier: 1.5
    norg2:
      max-attempts: 3
      delay: 1000
      multiplier: 1.5
    pdlGraphQl:
      max-attempts: 3
      delay: 2000
      multiplier: 1.5
    hentDokument:
      max-attempts: 3
      delay: 500
      multiplier: 1.5

resilience4j:
  retry:
    instances:
      sendMail:
        max-attempts: ${retry-config.sendMail.max-attempts}
        wait-duration: ${retry-config.sendMail.delay}ms
        exponential-backoff-multiplier: ${retry-config.sendMail.multiplier}
        retry-exceptions:
          - java.lang.Exception
      safGraphQl:
        maxAttempts: ${retry-config.safGraphQl.max-attempts}
        waitDuration: ${retry-config.safGraphQl.delay}ms
        exponential-backoff-multiplier: ${retry-config.safGraphQl.multiplier}
        retry-exceptions:
          - java.lang.Exception
      norg2:
        maxAttempts: ${retry-config.norg2.max-attempts}
        waitDuration: ${retry-config.norg2.delay}ms
        exponential-backoff-multiplier: ${retry-config.norg2.multiplier}
        retry-exceptions:
          - java.lang.Exception
      pdlGraphQl:
        maxAttempts: ${retry-config.pdlGraphQl.max-attempts}
        waitDuration: ${retry-config.pdlGraphQl.delay}ms
        exponential-backoff-multiplier: ${retry-config.pdlGraphQl.multiplier}
        retry-exceptions:
          - java.lang.Exception
      hentDokument:
        maxAttempts: ${retry-config.hentDokument.max-attempts}
        waitDuration: ${retry-config.hentDokument.delay}ms
        exponential-backoff-multiplier: ${retry-config.hentDokument.multiplier}
        retry-exceptions:
          - java.lang.Exception

aad:
  authority: ${AAD_AUTHORITY}
  clientId:  ${AZURE_APP_CLIENT_ID}
  clientSecret:  ${AZURE_APP_CLIENT_SECRET}
  email: ${AAD_EMAIL}
  tenant: ${TENANT}

cron:
    deleteBigQueryServiceKlagerScheduled: "0 0 0 * * *" # midnight every day
    deleteServiceKlagerScheduled: "0 0 0 * * *" # midnight every day
    deleteBigQueryServiceKlagerOlderThan: 7 # days
    deleteServiceKlagerOlderThan: 90 # days (3 months)
