<?xml version="1.0" encoding="UTF-8"?>
<included>
	<include resource="org/springframework/boot/logging/logback/defaults.xml"/>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%t, %d, %-5p, %C:%L] - %.-100000m%n</pattern>
		</encoder>
	</appender>

	<root level="ERROR">
		<appender-ref ref="CONSOLE"/>
	</root>

	<logger name="io.lettuce" level="OFF" additivity="false">
	</logger>

	<logger name="no.nav.tilbakemeldingsmottak" level="INFO" additivity="false">
		<appender-ref ref="CONSOLE"/>
	</logger>

</included>