<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProfile name="nais">
        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                    <rootCauseFirst>true</rootCauseFirst>
                    <maxDepthPerThrowable>30</maxDepthPerThrowable>
                    <exclude>java\.util\.concurrent\..*</exclude>
                    <exclude>org\.apache\.tomcat\..*</exclude>
                    <exclude>org\.apache\.coyote\..*</exclude>
                    <exclude>org\.apache\.catalina\..*</exclude>
                    <exclude>org\.springframework\.web\..*</exclude>
                    <exclude>org\.springframework\.security\.web\.ObservationFilterChainDecorator</exclude>
                </throwableConverter>
            </encoder>

        </appender>

        <root level="INFO">
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>

    <springProfile name="local,itest">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>
                    %green(%d{HH:mm:ss}) %cyan([%-5.5t]) %boldCyan(%0.-5p) %yellow(%logger{36}) %cyan(:) %m%n
                </pattern>
            </layout>
        </appender>

        <root level="DEBUG">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>


    <logger name="io" level="INFO"/>
    <logger name="org" level="INFO"/>
    <logger name="com" level="INFO"/>
    <logger name="no.nav" level="INFO"/>

    <logger name="no.nav.tilbakemeldingsmottak" level="INFO"/>

</configuration>
