name: Install and test
on:
  pull_request:
        paths-ignore:
          - '**.md'
          - '**/**.md'
          - '.github/workflows/**.yml'

jobs:
  tests:
    name: Run tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 21
          cache: 'maven'
      - name: Cache dependencies

        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-maven-

      - name: Maven build
        env:
          GITHUB_NAV_TOKEN: ${{ secrets.READER_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN}}
        run: |
          mvn clean install --settings maven-settings.xml


